<footer class="bg-secondary mb-5 p-5 text-centre text-white fst-italic">
    <h1 class="text-centre">About Us</h1>
     Welcome to <strong>E-Kart</strong>, your trusted online shopping destination.
  We are committed to bringing you a seamless shopping experience by offering
  high-quality products, competitive prices, and reliable customer service.

  At E-Kart, we believe that shopping should be simple, convenient, and enjoyable.
  Our platform features a wide range of products, including electronics, fashion,
  home essentials, accessories, and much more, carefully selected to meet the
  needs of our customers.

  Customer satisfaction is at the heart of everything we do. From secure payments
  and fast delivery to responsive support, we strive to make every purchase a
  pleasant experience. Whether you're looking for the latest gadgets, trendy
  fashion items, or everyday essentials, E-Kart is here to help you find exactly
  what you need.

  Thank you for choosing E-Kart. We look forward to serving you and becoming your
  preferred online shopping partner.Customer satisfaction is at the heart of everything we do. From secure payments
  and fast delivery to responsive support, we strive to make every purchase a
  pleasant experience. Whether you're looking for the latest gadgets, trendy
  fashion items, or everyday essentials, E-Kart is here to help you find exactly
  what you need.

  Thank you for choosing E-Kart. We look forward to serving you and becoming your
  preferred online shopping partner.
</footer>


<div class="container text-center">
  <div class="row">
    <div class="col">
      <app-accrodian></app-accrodian>
    </div>
  </div>
</div>


