<footer class="bg-info mb-5 p-5 text-center text-white">
  <h1 class="text-center mb-4">Contact Us</h1>

  <p class="mx-auto fs-5 fst-italic" style="max-width: 900px;">
    We are committed to providing the best shopping experience for our customers.
    Whether you have questions about products, orders, or services, our team is
    always ready to help. Feel free to reach out to us through phone, email, or
    visit our location using the map below.
  </p>
</footer>

<div class="container text-center mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.992208461727!2d76.3625420758864!3d10.017500990088822!2m3!1f0!3f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080b7fca7c6495%3A0x5c6cc61021571755!2sNeST%20Digital%2C%20NeST%20Tech%20Park!5e0!3m2!1sen!2sin!4v1782323598389!5m2!1sen!2sin"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy">
      </iframe>
    </div>
  </div>
</div>